.serach input{
    width: 40%;
    height: 30px;
}
.serach{
    border: 1px solid red;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
}
.country:hover{
    font-size: 20px;
    font-weight: bold;
    animation-duration: 10ms;
    background-color:teal;
    color: black;
    padding: 5px 50px;
}