.App {
  text-align: center;
}
/* .formdiv{
  border: 1px solid red;
  width: 30%;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  background-color: aquamarine;
}
.formdiv input{
  width:70%;
  margin-top: 10px;
  height: 30px;
}
.btn{
  background-color: black;
  color: white;
  border-radius: 10px;
}
 table ,th,td{
  border: 1px solid black;
  margin: auto;
  margin-top: 10px;
  font-size: 25px;
} */