.formdiv{
    border:  1px solid red;
    height: 200px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    padding: 10px;
}
.formdiv input{
    margin-top: 10px;
    width: 60%;
    height: 30px;
}
.sub{
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 10px;
}